{
  "tabWidth": 4,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "sql": {
    "keywordCase": "upper",       
    "tabulateAlias": true,       
    "alignColumns": true,        
    "commaPosition": "before",   
    "logicalOperatorNewline": "before"
  }
}